@font-face {
  font-family: 'kelson_sansregular';
  src: url('./../font/kelson_sans_regular.eot');
  src: url('./../font/kelson_sans_regular.eot?#iefix') format('embedded-opentype'),
    url('./../font/kelson_sans_regular.woff') format('woff'),
    url('./../font/kelson_sans_regular.ttf') format('truetype'),
    url('./../font/kelson_sans_regular.svg#kelson_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #acd0f1;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

#header {
  background: url('./../img/bandeau/background.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#header .title {
  background-color : rgba(172,208,241,0.8);
  width: 100%;
  height: 109px;
  position: relative;
}

#header .title .logo {
  height: 109px;
  text-align: center;
}

#header .title .logo img {
  margin-top: 23px;
  z-index: 100;
}

#header .social-facebook {
  position: absolute;
  left: 79%;
  bottom: 10px;
}

#header .social-googleplus {
  position: absolute;
  left: 82%;
  bottom: 10px;
}

#header .social-twitter {
  position: absolute;
  left: 85%;
  bottom: 10px;
}

#header .nav {
  font-size: 16px;
  font-family: 'kelson_sansregular';
  background-color: #ffffff;
  color: #272932;
  height: 36px;
  text-align: center;
  text-transform: uppercase;
}

#header .nav {
  margin: 0;
}

#header .nav li {
  position: relative;
  padding: 10px 13px 3px 13px;
  margin-left: 5px;
}

#header .nav li:first-child {
  margin-left: 0;
}

#header .nav li.logo-left {
  margin-right: 75px;
}

#header .nav li.logo-right {
  margin-left: 75px;
}

#header .nav li.active {
  color: #f87f2e;
  border-bottom: 3px solid #f87f2e;
}

#header .nav li a {
  color: #272932;
}

#header .nav li a:hover {
  background: none;
}

#header .nav li.register {
  color: #ffffff;
  background-color: #f87f2e;
  padding-bottom: 6px;
}

#header .nav li.register a {
  color: #ffffff;
}

#header .nav li.register a:hover {
  background: none;
}

#header .baseline {
  font-family: 'kelson_sansregular';
  color: #ffffff;
  text-align: center;
  margin-top: 56px;
  text-shadow: 0 0 20px #999;
}

#header .baseline .name {
  margin-top: 56px;
  font-size: 40px;
}

#header .baseline .description {
  font-size: 26px;
  margin-top: 28px;
}

#header .baseline .register {
  margin-top: 32px;
  margin-bottom: 32px;
}

#header .baseline .date {
  margin-bottom: 20px;
}

#header .sponsors {
  text-align: center;
  height: 90px;
  background-color : rgba(255,255,255,0.8);
}

#header .sponsors img {
  margin-top: 6px;
  max-width: 170px;
}

#header .sponsors img.premium {
  max-width: 370px;
}

/*************************************/

#thematiques,
#staff {
  font-family: 'kelson_sansregular';
  background-color: #ffffff;
  border-top: solid 3px #1a7dd2;
  color: #1a7dd2;
  padding-top: 62px;
  padding-bottom: 70px;
}

#thematiques .title,
#staff .title {
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-size: 40px;
}

#thematiques .separator,
#staff .separator {
  color: #f87f2e;
  text-align: center;
  font-size: 40px;
  margin-top: -20px;
  margin-bottom: 10px;
}

#thematiques .module h3,
#staff .module h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 26px;
}

#thematiques .module .picto,
#staff .module .picto {
  text-align: center;
  margin: 10px 0 35px 0;
}

/*************************************/

#programme,
#inscription,
#delegations {
  font-family: 'kelson_sansregular';
  background-color: #acd0f1;
  border-top: solid 3px #1a7dd2;
  color: #1a7dd2;
  padding-top: 62px;
  padding-bottom: 70px;
}

#programme .title,
#lieu .title,
#inscription .title,
#sponsors .title,
#delegations .title {
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-size: 40px;
}

#programme .separator,
#lieu .separator,
#inscription .separator,
#sponsors .separator,
#delegations .separator {
  color: #f87f2e;
  text-align: center;
  font-size: 40px;
  margin-top: -20px;
  margin-bottom: 10px;
}

#programme .container,
#inscription .container,
#delegations .container {
  background-color: #ffffff;
}

#programme .slot {
  text-align: center;
}

#programme h3 {
  background-color: #f87f2e;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  font-size: 26px;
  padding: 10px 0 0 0;
}

#programme .hour-title {
  clear: both;
  overflow: hidden;
  padding: 0 20px;
}

#programme .slot-separator {
  float: left;
  width: 45%;
  height: 35px;
  border-bottom: 1px solid #bababa;
}

#programme .hour {
  float: left;
  width: 10%;
  font-size: 18px;
  margin-top: 25px;
}

#programme .theme {
  font-size: 26px;
  margin-top: 25px;
  margin-bottom: 10px;
}

#programme .speaker .image {
  text-align: center;
  margin-bottom: 15px;
}

#programme .speaker .name {
  font-size: 18px;
  margin-bottom: 15px;
}

#programme .speaker .description {
  margin-bottom: 35px;
}

/*************************************/

#lieu,
#sponsors {
  font-family: 'kelson_sansregular';
  background-color: #ffffff;
  border-top: solid 3px #1a7dd2;
  color: #1a7dd2;
  padding-top: 62px;
}

#lieu .map {
  position: relative;
}

#lieu .details {
  position: absolute;
  top: 0;
  left: 53%;
  background-color: #f87f2e;
  color: #ffffff;
  max-height: 470px;
}

#lieu .place {
  text-align: center;
  padding: 25px 0;
  font-size: 16px;
}

#lieu .place strong {
  text-transform: uppercase;
  font-size: 22px;
}

#lieu .acces {
  padding: 25px 20px;
  font-size: 11px;
}

#lieu .acces strong {
  text-transform: uppercase;
  font-size: 12px;
}

/*************************************/

#inscription .container {
  padding: 30px 20px 0px 20px;
}

/*************************************/

#sponsors {
  padding-bottom: 70px;
}

/*************************************/

#delegations .slot {
  margin: 20px 0;
}

#delegations .city-title {
  clear: both;
  overflow: hidden;
  padding: 0 20px;
}

#delegations .slot-separator {
  float: left;
  width: 45%;
  height: 12px;
  border-bottom: 1px solid #bababa;
}

#delegations .city {
  float: left;
  width: 10%;
  font-size: 18px;
  margin-bottom: 20px;
}

#delegations .startup {
  margin: 5px;
  border: 1px solid #acd0f1;
}

#delegations .details {
  padding: 20px 10px;
  background-color: #1a7dd2;
  color: #ffffff;
  text-align: left;
  height: 118px;
}

#delegations .details .name {
  margin-bottom: 25px;
}

#delegations .details .description {
  font-size: 12px;
}

/*************************************/

#footer {
  height: 60px;
  background-color: #272932;
  border-top: 3px solid #ffffff;
  color: #ffffff;
  font-family: 'kelson_sansregular';
  font-size: 12px;
}

#footer .copyright,
#footer .contact {
  margin-top: 24px;
}

#footer .logo {
  margin-top: 13px;
}